@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
.first-letter::first-letter{
    font-size: 250%;
    /* color: #ffc107; */
    color: #dc3545;
    font-family: 'Fasthand', cursive;
    letter-spacing: .3rem;
}
.img-signature {
    width: 200px;
    transform: translateY(-30px)
}
