@import url("https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@400;600;700;800;900&display=swap");

/*
font-family: 'Itim', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; 
*/
:root {
  --color-primary: #dc3545;
  --color-danger: #dc3545;
  --color-bronze: #ed6d14;
  --color-silver: #848589;
  --color-gold: #ffb435;
  --color-performance: #cf2e2e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 36px;
  --font-size-x-large: 42px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
}

.account-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img-nav {
  width: 40px;
  height: 40px;
}

.profile-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  background: #dfdfdf;
}
.profile-input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.profile-input + label {
  color: white;
  background-color: var(--color-danger);
  display: inline-block;
}

.profile-input:focus + label,
.profile-input + label:hover {
  color: var(--color-black);
  cursor: pointer;
}

.wrapper-dashboard {
  font-family: "Permanent Marker", cursive;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 10px;
  display: flex;
  flex-direction: column;
}
.main-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Dashboard */
.dashboard-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-1 card-1 card-2 card-3"
    "card-4 card-5 card-5 card-6";
}
@media (max-width: 992px) {
  .dashboard-container {
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "card-3"
      "card-5"
      "card-1"
      "card-2"
      "card-4"
      "card-6";
  }

  #calendar {
    transform: scale(0.85);
  }
  .card-body {
    width: 350px;
  }

  .card-1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .card-2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card-3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .card-4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .card-5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .card-6 {
    grid-area: 6 / 1 / 7 / 2;
  }
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #fff;
  transition: background 400ms;
  background-color: var(--color-danger);
  outline: 0;
  border: 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1rem var(--color-white);
}
.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
  background-color: var(--color-danger);
}
.card-3 {
  grid-area: card-3;
  background-color: var(--color-danger);
}
.card-4 {
  grid-area: card-4;
  background-color: var(--color-danger);
}
.card-5 {
  grid-area: card-5;
  background-color: var(--color-danger);
}
.card-6 {
  grid-area: card-6;
  background-color: var(--color-danger);
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Calendar container */
#calendar {
  margin: 0 0;
  background-color: var(--color-gray-900);
  color: var(--color-white);
  border: 1px solid var(--color-danger);
}
/* Calendar title */
h2 {
  text-align: center;
  font-weight: bold;
  background-color: var(--color-gray-900);
  margin-bottom: 0;
}
/* Select inputs */
.calendars-select {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-gray-900);
}
select {
  padding: 5px;
  border: none;
  background-color: var(--color-gray-900);
  color: var(--color-white);
}
/* Calendar table */
table {
  width: 100%;
  border-collapse: collapse;
}
/* Table headers */
th {
  text-align: center;
  padding: 10px;
  background-color: var(--color-gray-900);
  width: 10px;
}
/* Table cells */
td {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  width: 100px;
}
/* Table cells with events */
td.event-cell {
  background-color: var(--color-danger);
  color: var(--color-white);
}
/* Hover effect on cells */
td:hover {
  background-color: white;
  color: black;
}
.modal {
  display: block;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: var(--color-black);
  margin: 20% auto;
  padding: 20px;
  border: 1px solid var(--color-danger);
  width: 90%;
  max-width: 600px;
}
.close {
  color: var(--color-white);
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: var(--color-danger);
  text-decoration: none;
  cursor: pointer;
}
.modal-option {
  font-weight: bold;
}
.event-cell {
  background-color: lightblue;
  cursor: pointer;
}
.modal-input {
  border: 1px solid var(--color-black);
  margin-bottom: 10px;
  border-radius: 5px;
}
.modal-btn {
  color: var(--color-white);
  border-radius: 5px;
  background-color: var(--color-danger);
  border: 1px solid var(--color-black);
  margin-bottom: 2px;
}
#today-button {
  width: 100%;
  border: none;
  background-color: var(--color-danger);
  color: var(--color-white);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.current-day {
  background-color: var(--color-danger);
}
