/* Contact */
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  input:focus ~ label,
  textarea:focus ~ label,
  input:valid ~ label,
  textarea:valid ~ label {
    font-size: 1rem;
    color: var(--color-primary);
    top: -10px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
  }
  .styled-input {
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
  }
  .form-container {
    width: 650px;
    max-width: 100%;
    margin: 25px auto;
  }
  
  
  @media (max-width: 768px) {
    .styled-input {
      width: 100%;
    }
  }
  .styled-input label {
    color: var(--color-white);
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
  }
  .styled-input.wide {
    width: 650px;
    max-width: 100%;
  }
  input,
  textarea {
    padding: 30px;
    border: 2px solid var(--color-primary);
    width: 100%;
    font-size: 1rem;
    background-color: var(--color-black);
    color: white;
    border-radius: 4px;
  }

  /* Map */
.map-container {
  width: 100%; 
  height: 400px; 
  border-radius: 25px;
  border: 2px solid var(--color-danger);
  box-shadow: 1px 1px 30px var(--color-danger);
}

/*  Cards */

@media screen and (min-width: 992px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
  }
}
.carousel-inner {
  padding: 1em;
}


.carousel-control-prev,
.carousel-control-next {
  width: 6vh;
  height: 6vh;
  background-color: #e1e1e1;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}
