@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@400;600;700;800;900&display=swap');

/*
font-family: 'Itim', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif; 
*/
:root {
  --color-bronze: #ed6d14;
  --color-silver: #848589;
  --color-gold: #ffb435;
  --color-performance: #cf2e2e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;
  --shadowDefault: 0 2px 6px -1px rgba(0, 0, 0, 0.16),
    0 1px 4px -1px rgba(0, 0, 0, 0.04);
  --lt-shadowActive: 0 0 8px -2px rgba(0, 0, 0, 0.1),
    0 6px 20px -3px rgba(0, 0, 0, 0.2);
  --font-size-small: 13px;
  --font-size-medium: 20px;
  --font-size-large: 36px;
  --font-size-x-large: 42px;
  --spacing-20: 0.44rem;
  --spacing-30: 0.67rem;
  --spacing-40: 1rem;
  --spacing-50: 1.5rem;
  --spacing-60: 2.25rem;
  --spacing-70: 3.38rem;
  --spacing-80: 5.06rem;
}


/* Body Section */
body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-medium);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav {
  z-index: 999999;
  font-family: "Poppins", sans-serif;

}
.text-right-nav {
  text-align: center;
}
svg {
  width: 25px;
  height: 25px;
}

footer {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

/* Custom Section */

.btn-let-begin {
  position: fixed;
  bottom: 9%;
  right: 3%;
  z-index: 9;
}

.icon-logo {
  width: 80px;
}

.text-center-nav {
  text-align: center;
}

.text-justify {
  text-align: justify;
}


.grow-and-shrink-img {
  z-index: -1;
  animation: grow-and-shrink 4000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  height: 500px;
}

.grow-and-shrink {
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.wrapper {
  height: 49vh;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 10px;

}

.interactive-section-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000, transparent);
  z-index: 3;
}









/* Hover Section */

.bg-dropdown-1:hover {
  background-color: var(--color-bronze);
  color: var(--color-white);
}

.bg-dropdown-2:hover {
  background-color: var(--color-silver);
  color: var(--color-white);
}

.bg-dropdown-3:hover {
  background-color: var(--color-gold);
  color: var(--color-white);
}

.bg-dropdown-4:hover {
  background-color: var(--color-performance);
  color: var(--color-white);
}

/* .icon-spin:hover {animation:spin 12s linear infinite;} */
.translate-hover:hover {
  transform: translateY(-5px);
}

.transform-scale-sml:hover {
  transform: scale(1.1);
}

.transform-scale-md:hover {
  transform: scale(1.2);
}

.transform-scale-lg:hover {
  transform: scale(1.3);
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.grow-and-shrink-hover:hover {
  animation: grow-and-shrink 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Media Section */
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.07);
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {}

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}